<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel = "stylesheet" href = "css/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <div class ="nav">
        <ul>
            <li><a href="catalog.html">Catalog</a></li>
            <li class="dropdown">
                <button class="dropbtn"> Me
                    <i class="fa fa-caret-down"></i>
                </button>
        <div class="dropdown-content">
            <a href="profile.html">View Profile</a>
            <a href="signout"> Sign Out</a>
    </div>
  </li>
            <li><a href="index.html">Home</a></li>
  
        </ul>
    </div>
    <body>
        <div class="container-fluid">
            <div class = "row">
                <div class ="col-sm-8">
                    <h4><span style="font-size:40px;">Your Favorites Books</span></h4>
                </div>
                <div class = "col-sm-4">
                    <input type="search" class="form-control search" id="searchItem" name="search" placeholder="Search"><button class="searchbtn"> Go</button>
                </div>
            </div>
        
            <div class= "card ">
                <div class ="row">
                    <div class = "col-sm-3">
                        <div class="media-left media-top">
                            <a href ="detail_book.html"><img class="d-flex mr-3 media-object img-thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXKZovw8BXa93R1pa4JIpKlwXRrwQ1GMoKoXGaLzDAFluPQGS4gw" alt="The C++ Programming Language" alt="Generic placeholder image"></a>
                            <div class="media-body">
                                <h5 class="mt-0">About the Author</h5>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. <a href="detail_book.html"> View more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class = "col-sm-3">
                        <div class="media-left media-top">
                            <img class=" img-thumbnail d-flex mr-3 media-object" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRY_UA-TEibIlRTifQpYk2N47xKkvToAP14HicikMTlfHJETQ--Gw" alt="Coding Games HTML5 Babies Book" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0">About the Author</h5>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.<a href="detail_book.html"> View more</a></p>
                            </div>
                        </div>
                    </div>    
                    <div class = "col-sm-3"> 
                        <div class="media-left media-top">
                            <img class=" img-thumbnail d-flex mr-3 media-body" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQckO2Y2VLxDCkgV3sK08vDWqQI3zxX8BwuunM4RniWhF-H9Ct" alt="Advance Java Programming Book" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0">About the Author</h5>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. <a href="/detail_book"> View more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class = "col-sm-3">
                        <div class="media-left media-top">
                            <img class=" img-thumbnail d-flex mr-3 media-body " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZtH6D4qjGHp6dE7j8fNuLRSXK8ik6yVgEDwqIIznnLdAVGXduPA" alt="Thinking in Java" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0">About the Author</h5>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. <a href="/detail_book"> View more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "card">
                <div class="row">
                    <div class = "col-sm-3">
                        <div class="media-left media-top">
                            <img class=" img-thumbnail d-flex mr-3 media-object" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxOj2UOv4t4zglnsZRleu-NdEmfLnqqFNQduLrW_YHuDhvn17c" alt="Introducing Java8" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0">About the Author</h5>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. <a href="/detail_book"> View more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class = "col-sm-3">
                        <div class="media-left media-top">
                            <img class=" img-thumbnail d-flex mr-3 media-object" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrO46DYsFOUtvje407gF7lhVNWgEoU1EdkOiFnTrtWKLVBP6uv" alt="Object Oriented Programming using C++" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0">About the Author</h5>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. <a href="/detail_book"> View more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class = "col-sm-3">
                        <div class="media-left media-top">
                            <img class=" img-thumbnail d-flex mr-3 media-object " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREcBeOFPPYpmihHGYhG6r-ctfLuue51HRKVzjSXQ21H3IwR4Xv" alt="Programming in PHP" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0">About the Author</h5>
                            <p> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. <a href="/detail_book"> View more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class = "col-sm-3">
                        <div class="media-left media-top">
                            <img class=" img-thumbnail d-flex mr-3 media-object" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMqEq7Usahc8N9ubDjn9XEJBXvYOY9eszgAmsC0n3ieMg-TJb16w" alt="Android Programming for Beginners" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0">About the Author</h5>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. <a href="/detail_book"> View more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class ="footer">
                <h4>Popular Books</h4>
                <div class = "row">
                    <div class= "col-sm-4">
                        <p><a href="catalog.html">The C++ Programming Language</a></p>
                        <p><a href="catalog.html">Introducing Java8</a></p>
                        <p><a href="catalog.html">Advance Java Programming Book</a></p>
                        
                    </div>
                    <div class= "col-sm-4">
                        <p><a href="catalog.html">The C++ Programming Language</a></p>
                        <p><a href="catalog.html">Introducing Java8</a></p>
                        <p><a href="catalog.html">Advance Java Programming Book</a></p>
                        
                    </div>
                    <div class= "col-sm-4">
                        <p><a href="catalog.html">The C++ Programming Language</a></p>
                        <p><a href="catalog.html">Introducing Java8</a></p>
                        <p><a href="catalog.html">Advance Java Programming Book</a></p>
                    </div>
                </div>
            </div>

        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <h6> ©2017. Hello Books!</h6>
    </body>
</html>