.img-fluid{
    max-width: 100%; 
    height: auto;
    width: 100% \9;
} 
#searchItem {
    width: 75%;
    position: absolute;
    margin-right: 0px;
}
h4{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding:20px;

}
#searchItem .searchbtn{
    margin-top:20px;
}
.searchbtn{
    width: 20%;
    height: 38px;
    position: relative;
    float: right;
}
.col-sm-3{
    max-height: 600px;
    display:block;
    margin-bottom: 5px;
    box-sizing: border-box;
}
.card{
    margin: 10px 10px;
    padding: 10px;

}
.media .img img{
    display:block;
    
}
.img-thumbnail{
    margin: 10px 0px 10px 0px;
}

.media-body{
    display:block;
    overflow:hidden; 
}
.fa-thumbs-up{
    color:#304ffe;
    size:200%;

}
.fa-thumbs-down{
    color:#a30000;
    font-size: 60px;

}
body{
    margin:50px;
    padding: 40px;
    
}
.login, .signup{
    padding:220px;
    margin:-40px;
    background-color: lightgrey;
}
/*#D8BFD8*/
.container-fluid{
   margin-top:20px;
   position: relative;
}

ul {
    list-style-type: none;
    margin:-40px;
    padding-right: 30px;
    overflow: hidden;
    background-color: #333333;
    
}
ul {
    position: fixed;
    top: 0;
    width: 100%;
    
}

li {
    float: right;
}

li a {
    display: block;
    /*color: white;*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    list-style-type: none;
    color:white;
    margin-right: 20px;
    
}

li a:hover {
    background-color: gray;
     color:white;
}
footer{
    margin:20px -40px;
    padding:30px;
    padding-bottom: 100px;
    background-color: #333333;
    color:#304ffe;
}
footer a{
    color:white;
}
footer h4 {
    text-align: center;
    font-size: 34px;
    font-family: monospace;
}
footer a:hover{
    color: white;
}
body h6{
    text-align: center;
}