html{
    
}
.img-fluid{
    max-width: 100%; 
    height: auto;
    width: 100% \9;
} 
#searchItem {
    width: 75%;
    position: absolute;
    margin-right: 0px;
}
h4{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding:20px;

}
#searchItem .searchbtn{
    margin-top:30px;
}
.searchbtn{
    width: 20%;
    height: 38px;
    position: relative;
    float: right;
}
.col-sm-3{
    max-height: 600px;
    display:block;
    margin-bottom: 5px;
    box-sizing: border-box;
}
.card{
    margin: 10px;
    padding: 10px;

}
.card input{
    margin: 20px;
    margin-right: 10px;
}
.media .img img{
    display:block;
    
}
.img-thumbnail{
    margin: 10px 0px 10px 0px;
}

.media-body{
    display:block;
    overflow:hidden; 
}
.fa-thumbs-up{
    color:#304ffe;
    size:200%;

}
.fa-thumbs-down{
    color:#a30000;
    font-size: 60px;

}
.fa-user-circle-o{
    color:gray;
    border: solid gray 1px;
    font-size:400px;
    padding:80px;
    box-sizing: border-box;
    margin:30px;
}
.img-profile{
    padding:30px;
}
.profile{
    background-color: #f4f6f9;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;

}

.side{
    background-color: white;
    box-sizing: border-box;
    position: absolute;
    margin-top: 20px;
    margin-bottom: 20px;

}
.fav{
    margin-top:70px;
    border:solid 1px gray;
    padding-top:15px;
    padding-bottom: 15px;
    text-align: center;
}
body{
    margin:50px;
    padding: 40px;
    
    
}
.login, .signup{
    padding:220px;
    margin:-40px;
    background-color: lightgrey;
}
/*#D8BFD8*/
.container-fluid{
   margin-top:20px;
   z-index: 1;
}

ul {
    list-style-type: none;
    margin: -40px;
    padding-right: 30px;
    background-color: #333333;
    
}
ul {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    
}

li {
    float: right;
}

li a {
    display: block;
    /*color: white;*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    list-style-type: none;
    color:white;
    margin-right: 20px;
    
}

li a:hover {
    background-color: gray;
     color:white;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: gray;
}

li.dropdown {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 10;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;
color:black;
}

.dropdown:hover .dropdown-content {
    display: block;
}
div .home-bck{
    padding:20px;
    margin: 10px;
    box-sizing: border-box;
    position: fixed;
}
    
.intro{
    font-size: 40px;
    margin-top: 80px;

}
span{
    color: #800000;
}
.home_pg{
    background-color: darkturquoise;
    padding: 20px;
    margin-top: 0px;
    
}
.row2{
    margin-top:50px;
    margin-bottom: 0px;
}
.direct{
    font-size: 30px;
    color: #800000;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}
h1{
    padding: 10px;
}
h4{

    font-style: italic;
    color:#800000;
}

footer {
    margin:20px -40px;
    padding:30px;
    padding-bottom: 100px;
    background-color: #333333;
    color:#304ffe;
}
footer a{
    color:white;
}
footer h4 {
    text-align: center;
    font-size: 34px;
    font-family: monospace;
}
footer a:hover{
    color: white;
}
body h6{
    text-align: center;
}
/*
*,
*:before,
*:after {
  box-sizing: inherit
}*/


/* clearfix */

/*.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

body {
  margin: 0;
  padding: 0;
}*/



/* clearfix-end ========================*/
